@if(experienceSection) {
<div class="mt-2">
  <h5 class="font-14 fw-bold heading-underline">
    {{ experienceSection.title }}
  </h5>

  <div class="mt-4">
    @for(experience of experienceSection.experience; track experience.company) {
    <div class="experience">
      <div>
        <h6 class="experience__header font-12 fw-bold">
          {{ experience.position }}
        </h6>

        <p class="mb-0 font-12 fw-bold">
          {{ experience.company }} <span>/ {{ experience.length }} </span>
        </p>
      </div>

      <div class="font-12">
        <p class="mb-0">{{ experience.summary }}</p>

        <ul class="mb-0">
          <li *ngFor="let technology of experience.technologies">
            {{ technology }}
          </li>
        </ul>
      </div>

      <div class="font-12">
        <p class="mb-0">{{ experience.respTitle }}</p>

        <ul class="mb-0">
          <li *ngFor="let responsibility of experience.responsibilities">
            {{ responsibility }}
          </li>
        </ul>
      </div>
    </div>
    }
  </div>
</div>
}
